.row {
    margin: 0;
    padding: 10px 20px;

}

.schedule-action {
    display: flex;
    justify-content: flex-end;

}

.schedule-action .btn-dark {
    display: inline;
    margin: 0 0;
    width: 100px;
    padding: 10px 10px;
    margin: 0 0 0 10px;
}

.color-row-green {
    background-color: rgb(0, 176, 80)!important;
    color: black
}

.color-row-grey {
    background-color: rgb(221, 217, 196)!important;
    color: black

}