{% extends 'schedule/main.html' %}
{% load static %}
{% block content %}
    <div class="table">
        <table class="table">
            <tr>
                <th>Start montażu</th>
                <th>Numer sklepu</th>
                <th>Typ</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Kod pocztowy</th>
                <th>Data otwarcia</th>
            </tr>
            {% for store in stores %}
                <tr>
                    {{store.number}}

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}