{% extends 'schedule/main.html' %}
{% load static %}
{% block content %}

{% include 'schedule/status.html' %}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-dark  btn-sm btn-block" href="">Add Store</a>
        <table class="table table-striped table-dark">
            <tr>
                <th>
                </th>
            </tr>
        </table>
    </div>

</div>


{% endblock content %}

<!--<div class="table">-->
<!--        <table class="table">-->
<!--            <div>-->
<!--                <tr>-->
<!--                    <th>Start montażu</th>-->
<!--                    <th>Numer sklepu</th>-->
<!--                    <th>Typ</th>-->
<!--                    <th>Miasto</th>-->
<!--                    <th>Ulica</th>-->
<!--                    <th>Kod pocztowy</th>-->
<!--                    <th>Data otwarcia</th>-->
<!--                </tr>-->
<!--            </div>-->

<!--            <div>-->
<!--                {% for store in stores %}-->
<!--                <tr>-->
<!--                    <h6>{{store.store_number}}</h6>-->
<!--                </tr>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </table>-->
<!--    </div>-->