{% load static %}

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="in-progres">
                <div class="card-header">
                    <h5 class="card-title">W realizacji</h5>
                </div>
                <div>
                    <h3 class="card-title">{{inrealization}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="within-30days">
                <div class="card-header">
                    <h5 class="card-title">W ciągu 30 dni</h5>
                </div>
                <div>
                    <h3 class="card-title">{{in30days}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>